<div class="row">
  <h1>Chuck Norris Joke:</h1>

  <h2 class="panel callout"><%= joke %></h2>

  <a href="/jokes">new joke</a>
  <a href="#" id="new-joke" class="button success tiny">New Joke</a>
</div>
