<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>API Clinic</title>

    <link rel="stylesheet" href="normalize.css"/>
    <link rel="stylesheet" href="foundation.min.css"/>
  </head>

  <body>
    <%= erb :_nav %>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>

</html>
